# Environment & Secrets
.env
.env.*

# System & Cache
._*
.DS_Store
__pycache__/
*.pyc

# Logs
backup.log
*.log

# Halo, Database & Caddy Persistent Volumes
halo-data/
pg-data/
caddy_data/
caddy_config/
